button {
    border: none;
    color:white;
    background-color: skyblue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  
  }

  #submit {
    border-radius: 0%;
    font-size: 18px;
  }

  #journalbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center
  }

  /* #textarea {
    flex-basis: 50%
    /* width: 50% */
  /* } */
