body {
    font-family: Futura, Helvetica, Arial, sans-serif;
    color: #444;
  }
  
  h1 {
    font-weight: normal;
  }
  
  #container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

#monthly-tracker{
    border-collapse: collapse;
  }
  
  #monthly-tracker td{
    border: 1px solid rgb(29, 28, 28);
    width: 18px;
    height: 18px;
    background: red;
  }

  /* button {
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 8px;
      border-radius: 80%
  }

  #true {
    background-color: pink
  }

  #false {
      background-color: darkgray
  } */